@import "~antd/dist/antd.dark.css";
/* .ant-btn-primary :hover {
  color: #fff;
  background: ##a8071a;
  border-color: ##a8071a;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
} */

/* #complete {
  background-color: #cac3c282;
} */

/* .site-page-header {
  border: 1px solid green;
}

.switch.ant-switch-checked {
  background-color: green;
}*/

/* .g2-label-item-value {
  color: pink;
}  */
